<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Muli|Roboto+Mono|Work+Sans&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>Geocoding</title>
  </head>
  <body>


    <div class="jumbotron jumbotron-fluid homejumbo">
        <div class="container">
            <h1 class="headline">Local Weather and National News</h1>
            <p></p>
            <h2>Current weather in <%=@params["q"]%> <i class="fas fa-cloud-sun"></i></h2>
            <p class="lead">Today's high temperature is <%=@current_temperature%> degress (F). Current conditions: <%=@current_conditions%>.</p>
        </div>
    </div>

    <div class="container weatherreport py-4">
      
          <div class="row">
              <div class="col-md-12">
                  <h2>Daily Extended Forecast for <%=@params["q"]%></h2>
              </div>
          </div>
      
          <div class="row">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>High (F)</th>
                  <th>Low (F)</th>
                  <th>Conditions</th>
                </tr>
              </thead>
              <tbody>
                <%for @daily_forecast in @forecast["daily"]["data"] %>
                    <tr>
                        <td><%=Time.at(@daily_forecast["time"]).strftime("%a")%></td>
                        <td><%=@daily_forecast["temperatureHigh"]%></td>
                        <td><%=@daily_forecast["temperatureLow"]%></td>
                        <td><%=@daily_forecast["summary"]%></td>
                    </tr>
                <%end %>
              </tbody>
            </table>
          </div>

    </div>

    <div class="jumbotron jumbotron-fluid homejumbo">
            <div class="container  py-4">
                <h2>Latest National News <i class="fas fa-newspaper"></i></h2>
                    <p><img class="newsimg" src="<%=@news["articles"][0]["urlToImage"]%>"></p>
                        <ul class="list-group list-group-flush">
                            <%for @news_article in @news["articles"]%>
                                <li class="list-group-item"><a class="newslink" href="<%=@news_article["url"]%>"><%=@news_article["title"]%></a></li>
                            <%end %>
                </ul>
            </div>
    </div>

    <div class="container footer">
        <div class="row">

            <div class="col-md-9">
            </div>

            <div class="col-md-3">
                <p class="footertext">Barker Media Holdings, 2020</p>
            </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>